<br/>
<br/>
<br/>
<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        Sign Up!
    </div>

    <div class="panel-body">
        <form class="form-horizontal" novalidate (ngSubmit)="onLogin()" [formGroup]="form">
            <fieldset>
                <div class="form-group" [ngClass]="{'has-error': (form.get('firstName').touched || 
                                              form.get('firstName').dirty) &&
                                              !form.get('firstName').valid }">
                    <label class="col-md-2 control-label" for="firstNameId">First Name</label>

                    <div class="col-md-8">
                        <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)" formControlName="firstName" />
                        <span class="help-block" *ngIf="(form.get('firstName').touched || 
                                                         form.get('firstName').dirty) && 
                                                         form.get('firstName').errors">
                            <span *ngIf="form.get('firstName').errors.required">
                                Please enter your first name.
                            </span>
                        <span *ngIf="form.get('firstName').errors.minlength">
                                The first name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': (form.get('lastName').touched || form.get('lastName').dirty) && !form.get('lastName').valid }">
                    <label class="col-md-2 control-label" for="lastNameId">Last Name</label>

                    <div class="col-md-8">
                        <input class="form-control" id="lastNameId" type="text" placeholder="Last Name (required)" formControlName="lastName" />
                        <span class="help-block" *ngIf="(form.get('lastName').touched || form.get('lastName').dirty) && form.get('lastName').errors">
                            <span *ngIf="form.get('lastName').errors.required">
                                Please enter your last name.
                            </span>
                        <span *ngIf="form.controls.lastName.errors.maxlength">
                                The last name must be less than 50 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div formGroupName="emailGroup" [ngClass]="{'has-error': form.get('emailGroup').errors }">

                    <div class="form-group" [ngClass]="{'has-error': emailMessage}">
                        <label class="col-md-2 control-label" for="emailId">Email</label>

                        <div class="col-md-8">
                            <input class="form-control" id="emailId" type="email" placeholder="Email (required)" formControlName="email" />
                            <span class="help-block" *ngIf="emailMessage">
                                {{ emailMessage }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error': (form.get('emailGroup.confirmEmail').touched || 
                                                  form.get('emailGroup.confirmEmail').dirty) && 
                                                  !form.get('emailGroup.confirmEmail').valid }">
                        <label class="col-md-2 control-label" for="confirmEmailId">Confirm Email</label>

                        <div class="col-md-8">
                            <input class="form-control" id="confirmEmailId" type="email" placeholder="Confirm Email (required)" formControlName="confirmEmail" />
                            <span class="help-block" *ngIf="(form.get('emailGroup.confirmEmail').touched || 
                                                            form.get('emailGroup.confirmEmail').dirty) && 
                                                            (form.get('emailGroup.confirmEmail').errors ||
                                                             form.get('emailGroup').errors)">
                                <span *ngIf="form.get('emailGroup.confirmEmail').errors?.required">
                                    Please confirm your email address.
                                </span>
                            <span *ngIf="form.get('emailGroup').errors?.match">
                                    The confirmation does not match the email address.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': !form.get('phone').valid }">
                    <label class="col-md-2 control-label" for="phoneId">Phone</label>

                    <div class="col-md-8">
                        <input class="form-control" id="phoneId" type="tel" placeholder="Phone" formControlName="phone" />
                        <span class="help-block" *ngIf="form.get('phone').errors">
                            <span *ngIf="form.get('phone').errors.required">
                                Please enter your phone number.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Send Notifications</label>
                    <div class="col-md-8">
                        <label class="radio-inline">
                                <input type="radio" 
                                       value="email" 
                                       formControlName = "notification">Email
                            </label>
                        <label class="radio-inline">
                                <input type="radio" 
                                       value="text" 
                                       formControlName = "notification">Text
                            </label>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': (form.get('rating').touched || 
                                              form.get('rating').dirty) && 
                                              !form.get('rating').valid }">
                    <label class="col-md-2 control-label" for="ratingId">Rating</label>

                    <div class="col-md-8">
                        <input class="form-control" id="ratingId" type="number" formControlName="rating" />
                        <span class="help-block" *ngIf="(form.get('rating').touched 
                                                         || form.get('rating').dirty) && 
                                                         form.get('rating').errors">
                             <span *ngIf="form.get('rating').errors.range">
                                Please rate your experience from 1 to 5.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8 checkbox">
                        <label>
                            <input id="sendCatalogId"
                                   type="checkbox"
                                   formControlName = "sendCatalog" >
                            Send me your catalog
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-success" id="login"
                                    type="submit"
                                    [disabled]="!form.valid">
                                Save
                            </button>
                        </span>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br>Dirty: {{ form.dirty }}
<br>Touched: {{ form.touched }}
<br>Valid: {{ form.valid }}
<br>Value: {{ form.value | json }}