<br /> <br />
<br />
<br />
<div class="row">
    <div class="md-col-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Add Information</h3>

            </div>
            <div class="panel-body">
                <form novalidate [formGroup]="form" (ngSubmit)="saveInformationRequest(form)">
                   
                    <div class="form-group">
                        <div class="md-col-4">
                            <label>Information Required:</label>
                        </div>
                        <div class="md-col-4" 
>
                            <input formControlName="InformationRequired" />
                        </div>
                        <div class="danger"  [ngClass]="{'alert-danger':!form.controls['InformationRequired'].valid && form.controls['InformationRequired'].touched}" *ngIf="form.get('InformationRequired').hasError('required') && form.get('InformationRequired').touched">
                            InformationRequired is required
                        </div>
                    </div>
                    <!-- <div class="form-group">
                       <div class="md-col-4"><label> MileStone Date</label></div>
                        <div class="md-col-4">
                            <div class="md-col-4">
                                <label for="sel1">MileStone Date:</label>
                            </div>
                            <div class="md-col-4">
                                             <ng-dropdown [dataSourceList]="mileStonedataSourceList"
                                             [(ngModel)]="selectedMileStone"
                                             [ngModelOptions]="{standalone: true}"
                                             (onSelectItem)="onMileStoneSelect($event)"
                                             [controlName]="mname"
                                             [controlId]="mid"
                                             
                                             ngDefaultControl></ng-dropdown>  
                                              <div class="error" [ngClass]="{'alert-danger':!form.controls['MileStoneID'].valid && form.controls['MileStoneID'].touched}" *ngIf="form.get('MileStoneID').hasError('required') && form.get('MileStoneID').touched">
                                MileStone is required
                            </div>
                        </div>-->
                         <!--   <div class="md-col-4">
                                <select class="list-group" (change)="onSelectMileStone($event.target.value)"
                                        name="MileStoneID" formControlName="MileStoneID">

                                    <option class="list-group-item" *ngFor="let item of mileStonedataSourceList" [value]="item.id">
                                        {{item.name | date: 'yyyy-MM-dd' }}
                                    </option>
                                </select>
                            </div>
                           
                        </div>
                          </div>
                        -->
                        <!---->
                  
                    <div class="form-group">
                        <!--<div class="md-col-4"><label> MileStone Date</label></div>-->
                        <div class="md-col-4">
                            <div class="md-col-4">
                                <label for="sel1">Recepient:</label>
                            </div>
                            <div class="md-col-4">
                                <select class="list-group" (change)="onSelectRecepient($event.target.value)"
                                        name="RecepientID" formControlName="RecepientID">

                                    <option class="list-group-item" *ngFor="let item of recepientsdataSourceList" [value]="item.id">
                                        {{item.name  }}
                                    </option>
                                </select>
                                <div class="error" [ngClass]="{'alert-danger':!form.controls['RecepientID'].valid && form.controls['RecepientID'].touched}"  *ngIf="form.get('RecepientID').hasError('required') && form.get('RecepientID').touched">
                                    Recepient is required
                                </div>
                            </div>
                        </div>

                    </div>
     <div class="panel-body">

         <custom-select-list   [dataSourceList]="mileStonedataSourceList"
                                             formControlName="MileStoneID"
                                             (onSelectItem)="onMileStoneSelect($event)"
                                             [controlName]='MileStoneID'
                                             [controlId]="mid"></custom-select-list>
     </div>
        <pre>{{ form.value | json }}</pre>
                    <div class="btn-group pull-right" role="group" aria-label="...">

                        <button type="button" class="btn btn-primary pull-left">Cancel</button>
                        &nbsp;
<!--[disabled]="!form.valid"-->
                        <button type="submit" class="btn btn-primary pull-right" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>

</div>