 <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
               Control Submission
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a routerLink="/recepients" routerLinkActive="active">Recepients</a></li>
<li> <a routerLink="/milestones" routerLinkActive="active">Milestone</a></li>
<li> <a routerLink="/informationrequests" routerLinkActive="active">informationRequests</a></li>
                 
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
<div> 
        <router-outlet></router-outlet>
        <hr />
        <footer>
            <p> My ASP.NET Application</p>
        </footer>
</div>
    </div>